@model List<ArtMuseum.Models.Artist>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}


@{
    ViewData["Title"] = "Artists Table";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Artists</h2>
    <a asp-action="Create" asp-controller="Artist" asp-area="Manage" class="btn btn-success">+ Create Artist</a>
</div>

<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Biography</th>
            <th>Nationality</th>
            <th>Birth Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var artist in Model)
        {
            <tr>
                <td>@artist.Name</td>
                <td>@artist.Biography</td>
                <td>@artist.Nation</td>
                <td>@artist.BirthDate.ToString("yyyy-MM-dd")</td>
                <td>
                    <a asp-area="Manage" asp-controller="Artist" asp-action="Edit" asp-route-id="@artist.Id" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-area="Manage" asp-controller="Artist" asp-action="Delete" asp-route-id="@artist.Id" class="btn btn-sm btn-danger">Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>
